# Dependencies
node_modules

# Builds / caches
.turbo
.output
.data
.nuxt
.nitro
.cache
dist
coverage

# Logs
logs
*.log

# Env
.env
.env.*
!.env.example

# IDE / OS
.DS_Store
.fleet
.idea
*.swp

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Misc
.vscode/*
!.vscode/settings.json
*.tsbuildinfo
